{% extends '::base.html.twig' %}
{% block title %}Administration{% endblock %}

{% block section %} <div>Sélectionnez une section dans le menu de gauche :)</div>{% endblock %}

{% use 'IabsisVideothequeBundle:Admin:sidebar_admin.html.twig' %}