{% extends "::base.html.twig" %}
{% block section %}
<h1> Bienvenue sur la page reservée aux membres</h1>

<form method="POST" action="">
    <fieldset>
        <legend>Veuillez vous enregistrer :</legend>
        <input type="text" placeholder="Pseudo"></input>
        <input type="password" placeholder="Mot de passe"></input>
        <input type="submit"></input>
        <a href="{{path('member_member_reset')}}"></a>
    </fieldset>
</form>

{% endblock %}